body {
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h1 {
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;

}